:root {
  --main-red: #AD1A2B;
  --main-text: #FFFFFF;
  --main-gray: #303841;
}

* {
  font-family: Poppins, "sans-serif";
  box-sizing: border-box;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  background-color: var(--main-gray);
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

#container {
  min-height: 100vh;
  min-width: 100vw;
}

/* welcome section */

#welcome-section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: -35px; */
  color: var(--main-text);
  background: linear-gradient(60deg, #474747 0%, #181719 100%);
}

#welcome-section h1 {
  font-size: 2.5rem;
}

#welcome-section p {
  color: var(--main-red);
  font-size: 2rem;
  margin-top: -15px;
  font-style: italic;
  font-weight: 100;
}

#role {
  color: #40923D
}

@media (max-width: 500px) {
  .underline {
    width: 15rem;
  }

  #projects {
    min-height: 210vh;
  }

  #header,
  #welcome-section,
  #projects,
  #contact {
    width: 100vw;
  }
}
